<!DOCTYPE html>
<html>
<head>
  <style>
    div[data-error] {
      background-color: red;
    }
    body, input[type=submit] {
      font-family: monospace;
    }
    div[data-in-progress], div[data-completed] {
      margin-bottom: 1em;
    }
  </style>
  <title>Estimate!</title>
</head>
<body>
  <% if error %>
    <div data-error><%= error %></div>
  <% end %>

  <h1>New estimation</h1>
  <form action="add" method="post">
    name: <input type="text" name="name" value="">
    <input type="submit" value="Add">
  </form>

  <h1>In progress</h1>
  <% estimations.in_progress.each do |estimation| %>
    <div data-in-progress>
      Estimation for: <b><span data-estimation-name><%= estimation[:name] %></span></b></br>
      Estimates received: <% estimation[:estimates].each do |user| %>
        <span data-user-name><%= user %></span>
      <% end %>
      <form action="estimate" method="post">
        <input type="hidden" name="name" value="<%= estimation[:name] %>">
        user: <input type="text" name="user" value="">
        optimistic: <input type="number" name="optimistic" value="">
        realistic: <input type="number" name="realistic" value="">
        pessimistic: <input type="number" name="pessimistic" value="">
        <input type="submit" value="Submit estimate">
      </form>
      <form action="complete" method="post">
        <input type="hidden" name="name" value="<%= estimation[:name] %>">
        <input type="submit" value="Complete estimation">
      </form>
    </div>
  <% end %>

  <h1>Completed</h1>
  <% estimations.completed.each do |estimation| %>
    <div data-completed>
      <span data-estimation-name><%= estimation[:name] %></span>
       = <span data-final-estimate><%= estimation[:estimate] || "-" %></span>
      <% estimation[:estimates].each do |user, estimate| %>
        <div data-user-estimate>
          <span data-user-name><%= user %></span>
          <span data-user-estimates><%= "#{estimate[:optimistic]}/#{estimate[:realistic]}/#{estimate[:pessimistic]}" %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</body>
</html>
