<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <style>
    </style>
    <title>Estimate!</title>
  </head>
  <body>
    <% unless maybe_room_name %>
      <div class="container">
        <h3>You're on the default room! Other people might be seeing this room as well. Maybe you want a separate room?</h3>
        <form action="/take_to_room" method="get">
          <p>I would like to go to the room named: <input type="text" name="room_name" required> <input type="submit" value="Take me there!"></p>
        </form>
      </div>
    <% end %>

    <div class="container">
      <% if maybe_error %>
        <div class="error-container">
          <div class="bubble">
            <div data-error>Error: <%= maybe_error %></div>
          </div>
        </div>
      <% end %>


      <form action="add" method="post">
        <div class="story-name-input">
          <h3>I would like to get an estimate for the story: <input class="story-title" type="text" name="name" value="" required></h3>
          <input type="hidden" name="description" value="">
          <input class="story-name-input_button" type="submit" value="Please estimate it.">
        </div>
      </form>

      <% in_progress_estimations = estimations.in_progress(room: maybe_room_name) %>
      <% unless in_progress_estimations.empty? %>
        <h1>Stories currently being estimated</h1>
        <div class="estimations-in-progress">
          <% in_progress_estimations.each do |estimation| %>
            <% estimation_name = escape(estimation[:name]) %>
            <div class="estimation-in-progress" data-in-progress>
              <h3 class="story-to-estimate">We are estimating the story <span data-estimation-name><%= estimation_name %></span>.</h3>
              <div class="all-estimates-per-story">
                <% if estimation[:estimates].empty? %>
                  <span>No one estimated yet.</span>
                  <form class="cancel-form" action="cancel" method="post">
                    <input type="hidden" name="name" value="<%= estimation_name %>">
                    <input type="submit" value="Cancel estimation.">
                  </form>
                <% else %>
                  <p>We have the estimates from <%= estimation[:estimates].map{|user| "<span data-user-name>#{escape(user)}</span>"}.join(", ") %>.</p>
                  <form class="complete-estimation" action="complete" method="post">
                    <input type="hidden" name="name" value="<%= estimation_name %>">
                    <input type="submit" value="I think we are done. That's everyone we wanted input from.">
                  </form>
                <% end %>
              </div>
              <div class="my-estimate">
                <h3>Here's my estimation:</h3>
                <form action="estimate" method="post">
                  <input type="hidden" name="name" value="<%= estimation_name %>">
                  <p>I am <input type="text" name="user" value="<%= escape(maybe_user) %>" required>.</p>
                  <p>If I think optimistically, <span data-estimation-name><%= estimation_name %></span> could take <input type="number" name="optimistic" value="" required> points to achieve.</p>
                  <p>Thinking realistically, I guess it would take <input type="number" name="realistic" value="" required> points.</p>
                  <p>And being pessimistic, it might take <input type="number" name="pessimistic" value="" required> points.</p>
                  <input type="submit" value="I think that's about right. Please take my point of view into consideration.">
                </form>
              </div>
            </div>
            <% end %>
        </div>
      <% end %>

      <% completed_estimations = estimations.completed(room: maybe_room_name) %>
      <% unless completed_estimations.empty? %>
        <h1>Completed estimations</h1>
        <div class="completed-estimations">
          <% completed_estimations.reverse.each do |estimation| %>
            <div class="completed-story" data-completed>
              <p><span data-final-estimate><%= estimation[:estimate] || "-" %></span> points for <span data-estimation-name><%= escape(estimation[:name]) %></span>.</p>
              <ul>
                <% estimation[:estimates].each do |user, estimate| %>
                  <li data-user-estimate>
                    <span data-user-estimates><%= "#{estimate[:optimistic]}/#{estimate[:realistic]}/#{estimate[:pessimistic]}" %></span> from <span data-user-name><%= escape(user) %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if maybe_room_name %>
        <p>You're on room <a href="/<%= maybe_room_name %>"><%= maybe_room_name %></a>. The default room is <a href="/">here</a>.</p>
      <% end %>
    </div>
  </body>
</html>
